<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.haimer.proyectoconcienciaemocionalfup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inicioapp">
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <activity android:name=".Actividad_1.iniciaractividad1" />
        <activity android:name=".Principalestudiantes" />

        <activity android:name=".Actividad_2.Actividad2" />
        <activity android:name=".Actividad_2.Escucharimagenes" />
        <activity android:name=".Loginprofesor" />
        <activity android:name=".Loginestudiante" />
        <activity android:name=".Registroprofesor" />
        <activity android:name=".Registroestudiante" />
        <activity android:name=".Principalprofesor" />
        <activity
            android:name=".Actividad_2.Escucharimagenes"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".Actividad_2.Seleccionarimagen" />
        <activity android:name=".Listaprofesor" />
        <activity android:name=".Actividad_1.imagenes" />
        <activity android:name=".Actividad_1.lista_alumnos" />

        <activity android:name=".Principalestudiantes" />
        <activity android:name=".Actividad_3.Actividad3" />

        <activity android:name=".Actividad_2.Resultadoactividad2" />
        <activity android:name=".Actividad_3.Actividad3item1" />
        <activity android:name=".Actividad_3.Actividad3item2" />
        <activity android:name=".Actividadesprofesor" />
        <activity android:name=".Resultadoactividades" />
        <activity android:name=".Actividad_4.Actividad4" />
        <activity android:name=".Actividad_4.Actividad4_1" />
        <activity android:name=".Actividad_4.Actividad4_2" />
        <activity android:name=".Actividad_4.Actividad4_3" />
        <activity android:name=".Actividad_4.Resultadoactividad4" />
        <activity android:name=".Actividad_6.Actividad_6" />
        <activity android:name=".Actividad_6.Actividad6_1" />
        <activity android:name=".Actividad_8.Actividad8" />
        <activity android:name=".Actividad_7.Activity_7" />
        <activity android:name=".Actividad_7.Actividad7_1" />
        <activity android:name=".Actividad_10.Actividad10_1" />
        <activity android:name=".Actividad_10.Actividad10_2" />
        <activity android:name=".Actividad_10.Actividad10" />
        <activity android:name=".Actividad_3.Resultadoactividad3" />
        <activity android:name=".Actividad_6.Resultadoactividad6" />
        <activity android:name=".Actividad_7.Resultadoactividad7" />
        <activity android:name=".Actividad_13.MainActivity" />
        <activity android:name=".Actividad_15.Actividad15" />
        <activity android:name=".Actividad_15.Actividad15_1" />
        <activity android:name=".Actividad_13.Resultadoactividad13" />
        <activity android:name=".Actividad_14.Actividad14" />
        <activity android:name=".Actividad_5.Iniciar5"></activity>
    </application>

</manifest>